events {

}


http {

    include mime.types;

    server {
        listen 80;
        server_name 192.168.100.20;

        root /sites/demo;

        rewrite ^/user/(\w+) /greet/$1 last;
        rewrite ^/greet/jhon /thumb.png;

        location /greet {
            return 200 'Hello User!';
        }

        location = /greet/jhon {
            return 200 'Hello Jhon!';
        }

        # Redirects

        # location /logo {
        #     return 307 /thumb.png;
        # }
    }

}
