events {

}


http {

    include mime.types;

    server {
        listen 80;
        server_name 192.168.100.20;

        root /sites/demo;

        # Check static API Key
        # if ( $arg_apikey != 1234 ) {
        #     return 401 'Incorrect API Key!';
        # }

        set $weekend 'No';

        # Check if weekend
        if ( $date_local ~ 'Saturday|Sunday' ) {
            set $weekend 'Yes';
        }

        # location /inspect {
        #     return 200 "Name: $arg_name";
        # }

        location /is_weekend {
            return 200 $weekend;
        }
    }

}
